<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('bssj.twbg/add')}"
               data-auth-edit="{:auth('bssj.twbg/edit')}"
               data-auth-delete="{:auth('bssj.twbg/delete')}"
               data-auth-recycle="{:auth('bssj.twbg/recycle')}"
               lay-filter="currentTable">
               <!-- searchTableShow="false" 隐藏搜索框 -->
        </table>
    </div>
</div>

<script>
    let notes = JSON.parse('{$notes|json_encode=256|raw}');
</script>